In [ ]:
#operators
aarithmatic
logical
assignement
relational

In [1]:
#Bitwise Operators
#&
a=5

In [2]:
b=4

In [3]:
a&b

4

In [4]:
x=6
y=2

In [5]:
x&y

2

In [6]:
6&2

2

In [7]:
a|b

5

In [8]:
6|2

6

In [9]:
a|b

5

In [10]:
#~

In [11]:
a

5

In [12]:
~a

-6

In [13]:
#^ xor operator

In [14]:
a

5

In [15]:
b

4

In [16]:
5^4

1

In [17]:
#>>

In [20]:
a

5

In [21]:
a#------>0000 0101
#righ shift is 0000 0001

5

In [22]:
a>>2

1

In [23]:
#left shift
a<<2 #---0001 0100

20

In [24]:
5*2^2

8

In [25]:
2^2

0

In [26]:
a=[1,2,3,5]

In [27]:
5 in a

True

In [30]:
if 5 in a:
    print("5 is inaside a")

5 is inaside a

In [31]:
4 in a

False

In [32]:
if 4 in a:
    print("4 is inside a")
else:
    print("4 is not inside a")

4 is not inside a

In [33]:
#identity operator
a=10
b=10

In [34]:
a is b

True

In [35]:
a==b

True

In [36]:
x=20
y-40

-38

In [37]:
x is not y

True

In [38]:
x==y

False

In [39]:
2*(2+3)

10

In [40]:
2+2-2

2

In [41]:
(2+3)/2%6//6-2

-2.0

In [44]:
2.5%6

2.5

In [45]:
2.5//6

0.0

In [46]:
2+3/4-(2*2**3)%4-3

-0.25

In [47]:
2**3>>3+2^3

3

In [49]:
#python functions
#1.build functions 
#2.module based or library  based or package based functions 
#3.user defined functions
# To organize the code
# To eliminate the code dublication 
# reuse again and again.

In [50]:
import array
array.array("i",(1,2,3,3))

array('i', [1, 2, 3, 3])

In [ ]:
#Synatax of function:
def function_name(parameters):
    <statements>
    return value

In [52]:
def fun():
    pass

In [58]:
def fun():
    return("hello world")
   # print("hello world")
    #driver code
    #function calling
    fun()

In [59]:
a+b

20

In [60]:
def add(a,b):#a,b are parameters
    c=a+b
    return c
add(10,10)#arguments

20

In [63]:
def add(a,b):#a,b are parameters
    return a+b
d=add(10,10)#arguments
print(d)

20

In [64]:
sum((10,20)) #builtin sum of elements

30

In [65]:
sum((20,20))

40

In [66]:
def add(a,b):#a,b are parameters
    c=a+b
    return c
add(20,20)#arguments

40

In [67]:
add(30,40)

70

In [68]:
add(50,60)

110

In [69]:
def fun1(a,b):
    return a+b
res=fun1(20,30)+20
print(res)#res is variable it is responsible for holding data

70

In [70]:
#funtion with default value

In [78]:
def fun2(name,age=25):
    print(f'my name is {name}, and age is {age}')
fun2("shubham")

my name is shubham, and age is 25

In [80]:
def fun2(name,age=30):
    print(f'my name is{name}, and age is {age}')
fun2("ganesh",35)

my name isganesh, and age is 35

In [83]:
def fun2(name,age=30,marks=65):
    print(f'my name is{name}, and age is {age} my marks {marks}')
fun2("ganesh",35,80)
fun2("Shubham",25,90)

my name isganesh, and age is 35 my marks 80
my name isShubham, and age is 25 my marks 90

In [85]:
#funtion with variable length argument:
def fun3(a,b):
    print(a,b)
fun3(12)
fun3(15,8)
fun3(5,8,9,4)

TypeError: fun3() missing 1 required positional argument: 'b'

In [86]:
#funtion with variable length argument:
def fun3(a,b=90):
    print(a,b)
fun3(12)
fun3(15,8)
fun3(5,8,9,4)

12 90
15 8

TypeError: fun3() takes from 1 to 2 positional arguments but 4 were given

In [88]:
#funtion with variable length argument:
def fun3(a,*b):
    print(a,b)
fun3(12)  #result b embty
fun3(15,8)  #b is 3
fun3(5,8,9,4)  #b is tuple which having

12 ()
15 (8,)
5 (8, 9, 4)

In [89]:
#Funtion with key word argument

In [92]:
def fun4(**kwargs):  #keywords arguments
    print(kwargs,type(kwargs))
fun4(name="shubham",marks=70)

{'name': 'shubham', 'marks': 70} <class 'dict'>

In [93]:
#PA=Possition arguments
#DA=Default arguments
#VA=Varibale length arguments
#KWA=Keyword Argument

In [94]:
#using funtion input---->a="1/2/3/4/h"
#output=[1,2,3,4,"h"]

In [106]:
def split_string(a):
    b=[]
for i in a.split('/'):
    if i.isdigit():
        b.append(int(i))
    else:
        b.append(i)
c=split_string("1/2/3/4/h")
print(b)

[1, 2, 3, 4, 'h', 1, 2, 3, 4, 'h']

In [105]:
a="1/2/3/4/h"
b=[]
for i in a.split('/'):
    if i.isdigit():
        b.append(int(i))
    else:
        b.append(i)
print(b)

[1, 2, 3, 4, 'h']

In [ ]:
#pass by referance(Sending actual value) or pass by value (sending cpy value)

In [112]:
#python only pass by referance
def fun(x1):
    print("inside before appending",x1,id(x1))
    x1.append(30)
    print("after appending",x1,id(x1))
list1=([1,2,3])
fun(list1)
print(list1)

print("after calling appending",list1,id(list1))

inside before appending [1, 2, 3] 2223961675776
after appending [1, 2, 3, 30] 2223961675776
[1, 2, 3, 30]
after calling appending [1, 2, 3, 30] 2223961675776

In [ ]:
#lamda functions
1.anynoumous funtion
2.simply single line sytatement
3.we can call fun name as a argument for other built in functions

In [114]:
def add1(a,b):
    return a+b
    add1(2,3)

In [115]:
a=lambda a,b:a+b

In [116]:
a(2,3)

5

In [117]:
#comprehension
#List
#set
#dictionary 
#Genrator

In [125]:
list1=[1,2,3,4,]
liat2=[]
for i in list1:
    if i%2==0:
        liat2.append(i)
print(liat2)

[2, 4]

In [128]:
#list comprehension
#Syntax:
#a=[statement(Expression), for var in list, condition]

In [134]:
v=[x**2 for x in list1]
print(v)

[1, 4, 9, 16]

In [136]:
list1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [137]:
#list comprehension
#Syntax:
#a={statement(Expression), for var in list, condition}

In [140]:
set1={1,2,3,}
v={x+2 for x in set1 if 2 in set1}
print(v)

{3, 4, 5}

In [141]:
#Enumerate
list1
for i in list1:
    enumerate

[1, 2, 3, 4]

In [142]:
x=('apple', 'banana')

AttributeError: 'list' object has no attribute 'enumerate'

In [ ]:
#S16-10-2023Assignemnt=convert list into dictionary using enumerate

In [144]:
list1=[1,2,3,4,]
x1=dict(enumerate(list1))

print(x1)

{0: 1, 1: 2, 2: 3, 3: 4}